.player{
    text-align: left;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: large;
    margin-bottom: 14vh;
}

.scorecard-switch-label{
    margin-top: 10px;
}

.reset-button{
    margin-bottom: 14vh;
}

@media only screen and (max-width: 360px) {
    .player{
        margin-bottom: 3vh;
        font-size: 1em;
    }

    .reset-button{
        margin-bottom: 3vh;
    }
}