.box {
    border: 5px solid black;
    height: 25vh;
}

/*.box:hover{*/
    /*border: 5px solid #66a7c4;*/
    /*height: 25vh;*/
/*}*/

.box-left {
    border-left-width: 0;
}

.box-right {
    border-right-width: 0;
}

.box-top {
    border-top-width: 0;
}

.box-bottom {
    border-bottom-width: 0;
}